

#fcont{
    background-color: #ADD8FF;
    border: 1px solid #DBDBDB;
    height: 100vh;
    padding: 15px 10px;
    border-radius: 5px;
    width:85%;
  }
  
  
  #fcont .container{
    background-color: white;
    border-radius: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    list-style-type: none;
    padding: 0;
  }


